/* @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('./fonts/Roboto/Roboto-Light.ttf') format('truetype');
} */

@font-face {
    font-family: 'Lora';
    src: url('./fonts/Lora/static/Lora-Regular.ttf') format('truetype');
}
* {
    font-family: 'Lora sans-serif' !important;
    line-height: 1.5;
}

.text-h1,.text-h2,.text-h3,.text-h4,.text-h5,.text-h6,.text-subtitle-1,.text-subtitle-2,.text-body-1,.text-body-2,p,i,.v-card-text {
    color: #37474F !important;
    font-size: 1.2em;
    /* color: blue !important; */
}

.text-primary {
    color: #64B5F6 !important;
}
.text-secondary {
    color: #FFB300 !important;
}

.v-alert .mdi-close::before {
    color: #FFF !important;
}
.v-alert .mdi-close-circle::before {
    color: #FFF !important;
}